<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/LoginUsuario">Login Usuário</a></li>
                <li><a href="/LoginFuncionario">Login Fornecedor</a></li>
                <li><a href="/CadastrarUsuario">Cadastrar Usuário</a></li>
                <li><a href="/CadastrarFornecedor">Cadastrar Fornecedor</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - Eco_life</p>
    </footer>
</body>
</html>
